<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        div{
            text-align:center;
        }
        .line{
            text-align:center;
            margin: 15px;
            font-size: 20pt;
        }

    </style>
    <title>Calculator</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
        <div id = "app" style="background-color: aquamarine;border-style: solid;width: 400px;">
            <div><input type="text" class="line" ref="num1" v-model="state.num1" ></div>
            <div class="line">+</div>
            <div><input type="text" class="line" ref="num2" v-model="state.num2"></div>
            <div><button class="line" @click="Add()">=</button></div>
            <div id="ans" class="line">{{state.ans}}</div>
            <div class="line">{{state.num1}}+{{state.num2}}={{ans}}</div>
        </div>
    <script>
        const { createApp, reactive, computed} = Vue
      
        createApp({
          setup() {
            const state = reactive({
                num1: '1',
                num2: '1',
                ans: 2
            })
            const ans = computed(function(){
                return parseInt(state.num1) + parseInt(state.num2)
            })
            const Add = function(){
                state.ans = parseInt(state.num1) + parseInt(state.num2)
            }
            return {
              state, Add, ans
            }
          }
        }).mount('#app')
      </script>
</body>
</html>